@import "../../styles/default_variables";

.auth {
  position: relative;
  gap: 60px;
  text-align: center;
  background: url("../../assets/auth-bg.png");
  line-height: 40px;
  width: 100%;
  height: 100%;

  h1 {
    font-size: 40px;
  }

  a {
    color: $mainColor;

    &:hover {
      text-decoration: underline;
    }
  }

}
