$white: #FFF;
$background: #0B0C10;
$mainColor: #4100FC;
$success: #52c41a;
$warning: #faad14;
$error: #ff4d4f;

%content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
