@import "../../../styles/default_variables";

.line {
  border-bottom: 2px solid $mainColor;
  margin-top: 6px;
  opacity: 0;
  transition: opacity 0.4s;

  &__active {
    opacity: 1;
  }
}

.name {
  font-size: $navigationFontSize;
  cursor: pointer;

  &:hover {
    opacity: 1;
    transition: opacity 0.4s;
  }
}
